
<div class="row">
    <div class="col-md-2">
        <input type="text" id="min" placeholder="Min" class="form-control"/>
    </div>
    <div class="col-md-2">
        <input type="text" id="max" placeholder="Max" class="form-control" />
    </div>
    <div class="col-md-3">
        <button class="btn btn-success btn-block">Get Random Number (from server!)</button>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <input type="text" id="input-text" placeholder="Input Text" class="form-control" />
    </div>
    <div class="col-md-3">
        <button id="reverse-text" class="btn btn-warning btn-block">Get Reversed Text</button>
    </div>
</div>



<div  id="my-div">
    
</div>






@section scripts
{
    <script src="/Scripts/ajax.js"></script>
}